body {
    background-color: black;
    margin-inline: auto;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    text-align: center;
    font-size: 100px;
    color: rgb(209,161,107);
    margin-inline: auto;
}
h2{
    text-align: center;
    font-size: 45px;
    color: rgb(209,161,107);
    margin-inline: auto;
}
h3{
    text-align: center;
    font-size: 30px;
    color: rgb(209,161,107);
    margin-inline: auto;
    line-height: 1.25;
}
p {
    padding: 0 10% 0 10%;
    text-align: left;
    line-height: 1.75;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
}
a {
    text-decoration: underline;
    color: whitesmoke;
}
nav {
    margin: 30px auto 0;
    position: relative;
    width: 450px;
    height: 50px;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(209,161,107);
    cursor: pointer;
    font-weight: bold;
}
nav .animation {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
    transition: all.5s ease 0s;
    border-radius: 8px
}
a:nth-child(1){
    width:150px
}
a:nth-child(2){
    width:150px
}
a:nth-child(3){
    width:150px
}
nav.start-home, a:nth-child(1):hover~.animation {
    width: 150px;
    left: 0;
    background-color: #cda813;
}
nav.start-about, a:nth-child(2):hover~.animation {
    width: 150px;
    left: 150px;
    background-color: #d8be62;
}
nav.start-farmhub, a:nth-child(3):hover~.animation {
    width: 150px;
    left: 300px;
    background-color: #e0e0e0;
}
