body {
    background-color: rgb(30,30,30);
    margin-inline: auto;
}
h1{
    text-align: center;
    font-size: 100px;
    color: rgb(209,161,107);
}
h2{
    text-align: center;
    font-size: 45px;
    color: rgb(209,161,107);
}
h3{
    text-align: center;
    font-size: 30px;
    color: rgb(209,161,107);}

p {
    text-align: left;
    line-height: 1.75;
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: rgb(209,161,107);
}
a {
    text-decoration: underline;
    color: rgb(209,161,107);
}
.navbar ul{
    background-color: rgb(30,30,30);
    overflow: none;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    list-style-type: none;
    font-size: 25px;
    margin-inline: auto;
    }
    .navbar li{
        display: inline;
        margin-inline: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        text-decoration: none;
        font-size: 25px;
        float: center;
    }
    .navbar a{
    text-align: center;
    color: rgb(209,161,107);
    text-decoration: none;
    display: inline;
    }
    .navbar a:hover{
    background-color: rgb(116, 116, 116);
    color: rgb(247, 132, 0);
    }
    .navbar a.active{
    background-color: rgb(83, 82, 82);
    color: rgb(209,161,107);
    }
